@import 'lib';

.collection-header-wrapper {
  text-decoration: none;
  color: initial;
  display: block;
}

.collection-header {
  display: flex;
  flex-flow: column nowrap;
}

.collection-image {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.collection-title {
  text-align: center;
}

.collection-description {
  text-align: center;
}

// Tab button container (outer)
.collection-tabs > div:first-child {
  position: sticky;
  top: 0;

  @include glass($radius: $border-radius-small);

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 $border-radius-small;

  // FIXME: this should be handled by the component, not a CSS hack.
  &::before {
    content: 'Pages';
    font-family: 'Quicksand';
    flex-grow: 1;
    font-size: 1.5rem;
    text-align: left;
  }

  // Inner
  > div {
  }
}

// Tab button
.collection-tabs button {
  @include normaliseButton;
  cursor: pointer;

  padding: $gap;
  background: none;
  width: 10rem;

  font-family: 'Quicksand';
  font-size: 1.5rem;

  &[aria-selected='true'] {
    border-bottom: 0.1rem solid white;
  }

  &:hover {
    background-color: $white;
  }
}

// Tab's contents
.collection-tab > div {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.collection-category {
  width: 100%;
}

@include desktop {
  .collection-listing {
    @include glass;
  }

  .collection-header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      'img header'
      'img description';
  }

  .collection-header-wrapper:nth-child(even) {
    background-color: $black;

    .collection-header {
      grid-template-areas:
        'header img'
        'description img';
    }
  }

  .collection-image {
    grid-area: img;
    place-self: stretch;
  }

  .collection-title {
    grid-area: header;
    place-self: end stretch;
  }

  .collection-description {
    grid-area: description;
    place-self: start center;
  }

  .collection-tab > div {
    display: flex;
    flex-flow: row wrap;
  }

  .collection-category {
    width: calc(100% / 3 - 2rem);
    flex-grow: 1;
    min-width: 20rem;
  }
}
