@import 'lib';

.mdx-heading-counter {
  color: $primary;
  opacity: $low-transparency;
  font-weight: normal;
}

.mdx-heading-link {
  text-decoration: inherit;

  @include animate {
    transition: color $fast-animation;
  }

  @include linkColors(inherit, $highlight, inherit, $highlight);
}

.mdx-heading-link-indicator {
  font-weight: normal;
  opacity: 0;

  @include animate {
    transition: opacity $fast-animation;
  }
}

.mdx-heading-link:hover .mdx-heading-link-indicator {
  opacity: $medium-transparency;
}
