@import 'lib';

.mdx-heading-link {
  text-decoration: inherit;

  @include animate {
    transition: color $fast-animation;
  }

  @include linkColors(inherit, $highlight, inherit, $highlight);
}

.mdx-heading-link-indicator {
  visibility: hidden;
  opacity: 0;

  @include animate {
    transition: 0.1s;
  }
}

.mdx-heading-link:hover .mdx-heading-link-indicator {
  visibility: visible;
  opacity: $medium-transparency;
}
