// Page content-specific styling

@use 'sass:color';
@import 'lib';

main.site-block {
  padding: 2rem;

  h1,
  h2 {
    @include softUnderline;
  }

  section {
    box-sizing: border-box;

    &:has(h2) {
    }

    &:has(> :target) {
      color: $highlight;

      // Give the border space without affecting overall size
      border-left: $border-width solid $highlight;
      padding-left: $border-width * 2;
      margin-left: -3 * $border-width;

      background-color: color.change($lowlight, $alpha: $low-transparency);
    }
  }

  // Headings
  .mdx-heading-counter {
    color: $primary;
    opacity: $low-transparency;
    font-weight: normal;
  }

  .mdx-heading-link {
    text-decoration: inherit;

    @include animate {
      transition: color $fast-animation;
    }

    @include linkColors(inherit, $highlight, inherit, $highlight);
  }

  .mdx-heading-link-indicator {
    font-weight: normal;
    opacity: 0;

    @include animate {
      transition: opacity $fast-animation;
    }
  }

  .mdx-heading-link:hover .mdx-heading-link-indicator {
    opacity: $medium-transparency;
  }

  // Inline code
  :not(pre) > code {
    background-color: var(--shiki-color-background);
    font-size: 1.5em;
  }

  // Code blocks
  .mdx-code-block {
    $padding: 1em;
    font-size: 1rem;
    line-height: 1.5em;

    border-radius: $border-radius-small;
    background-color: var(--shiki-color-background);
    @include shadow;

    .mdx-code-block-filename {
      font-family: $font-monospace;
      color: var(--shiki-color-text);
      background-color: var(--shiki-color-highlight);
      border-radius: $border-radius-small $border-radius-small 0 0;
      padding: 0.5rem;
      padding-left: 1rem;
    }

    &:has(.mdx-code-line-numbers) .mdx-code-block-filename {
      padding-left: 4rem;
    }

    pre {
      margin: 0;
      padding: 0;
    }

    code {
      display: block;
      padding: $padding 0;

      &.mdx-code-line-numbers {
        counter-reset: line;

        .line::before {
          display: inline-block;
          width: 2rem;
          margin-right: 1rem;

          counter-increment: line;
          content: counter(line, numeric);

          color: var(--shiki-color-line-number);
          text-align: right;
        }
      }
    }

    .line {
      display: inline-block;
      box-sizing: border-box;
      width: 100%;
      padding: 0 $padding;
    }

    .highlighted {
      background-color: var(--shiki-color-highlight);
    }

    .line.highlighted {
      border-left: $border-width solid var(--shiki-color-text);
      padding-left: calc($padding - $border-width);
    }

    ::selection {
      color: inherit;
      background-color: var(--shiki-color-selected);
    }
  }
}
