:root {
  --shiki-color-text: #d9d9d9;
  --shiki-color-background: #252525;
  --shiki-token-constant: #6fbcbd;
  --shiki-token-string: #98bcbd;
  --shiki-token-comment: #719862;
  --shiki-token-keyword: #e17899;
  --shiki-token-parameter: #bdbb72;
  --shiki-token-function: #dfdebd;
  --shiki-token-string-expression: #97dddf;
  --shiki-token-punctuation: #d9d9d9;
  --shiki-token-link: #ffbd98;

  // Custom values
  --shiki-color-highlight: #3f3f3f;
  --shiki-color-line-number: #999872;
  --shiki-color-selected: #616161;
}
