@import 'lib';

#site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 'header header' 'internal external';

  a {
    text-decoration: none;
    @include linkColors(
      $link-color,
      $link-color-highlight,
      $link-color,
      $link-color-highlight
    );
  }
}

#site-navigation-header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#site-navigation-internal {
  grid-area: internal;
}

#site-navigation-external {
  grid-area: external;
}

@include desktop {
  #site-navigation {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'header' 'internal' 'external';
  }

  #site-navigation-header {
    flex-direction: column;
    line-height: 1.5em;
  }
}
